//////Mixins////////

@mixin lighten-button($scheme-color) {
	& {
		transition: background-color .5s ease-in, color .5s ease-in;
	}
	
	&:hover {
		background-color: lighten($scheme-color, 15%);
		color: #fff;
	}
}
