// Variables


// COLORS

$main-font-color: #777; // medium gray
$accent-color: #58e1c1; //teal

$scheme-color-1: #927bc1; // purple
$scheme-color-2: #fd7856; // coral
$scheme-color-3: #51ddfc; // sky blue
$scheme-color-4: #e4757a; // blush pink
$scheme-color-5:#63cc82; // mint green



//MEDIA QUERIES

$breakpoint-1: 768px;
