/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  border: none;
  padding: 10px 0;
  border-radius: 5px;
		
}

.default {
  background-color: $scheme-color-3;

		@include lighten-button($scheme-color-3);
	
}

.error {
  background-color: $scheme-color-4;

		@include lighten-button($scheme-color-4);
	
}

.info {
  background-color: $scheme-color-1;

		@include lighten-button($scheme-color-1);
	
}

.success {
  background-color: $scheme-color-5;

		@include lighten-button($scheme-color-5);

}

.warning {
  background-color: $scheme-color-2;

		@include lighten-button($scheme-color-2);
	
}

